<!DOCTYPE html>
<html>
  <head>
    <title>Template Page</title>
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="//cdn.temasys.io/adapterjs/0.14.x/adapter.min.js"></script>
    <script src="assets/js/communication.js"></script>
    <script type="text/javascript">
    //navigator.geolocation
    //var battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;
    $(() => {
      $("#side_panel_right .info-panel-sub").on("click", e => {
        //Do stuff
      });



      $(".login_button").on("click", e => {
        $(".login").show();
        $("#login-tab").click();
      });

      $("#loginregister-dark-fade").on("click", e => {
        $(".login").hide();
        $("#loginregister-form span[type='errormsg']").addClass("error hidden");
        $("#login-box-user").val("");
        $("#login-box-pass").val("");
      });

      $("#login-tab").on("click", e => {
        $("#register-form").hide();
        $("#login-form").fadeIn(500, () => {});
        $("#register-tab").removeClass("active");
        $("#login-tab").addClass("active");
      });

      var displayBank = function() {
        switch ($("#roleselect").val())
        {
          case "user":
            $("#register-form span[type='bank-details']").hide();
            break;
          case "helper":
          case "both":
            $("#register-form span[type='bank-details']").fadeIn(500, () => {});
            break;
        }
      }
      $("#roleselect").on("change", displayBank);

      $("#register-tab").on("click", e => {
        $("#login-form").hide();
        $("#register-form").fadeIn(500, () => {});
        $("#login-tab").removeClass("active");
        $("#register-tab").addClass("active");
        displayBank();
      });

      $("#login-form").submit(e => {
        $.ajax({
                 type: "POST",
                 url: "/login",
                 data: $("#login-form").serialize(), // serializes the form's elements.
                 success: data =>
                 {
                     if (data == "success") {
                       window.location.reload();
                     } else {
                       // The user entered an invalid Username or Password
                       $("#login-error").removeClass("error hidden");
                    }
                }
            });

          e.preventDefault();
      });

      $("#register-form").submit(e => {
        $.ajax({
                 type: "POST",
                 url: "/register",
                 data: $("#register-form").serialize(),
                 success: data =>
                 {
                    if (data == "success") {
                      window.location.reload();
                    } else if (data == "username fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-username").removeClass("error hidden");
                    } else if (data == "field fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-field").removeClass("error hidden");
                    } else if (data == "match fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-match").removeClass("error hidden");
                    }
                    else { // password fault
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-password").removeClass("error hidden");
                    }
                }
            });
        e.preventDefault();
      });
    });
    </script>

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

  </head>
  <body>
    <div id="loginregister-dark-fade" class="login"></div>
    <div id="loginregister-form" class="login">
        <ul class="horizontal_menu">
          <li id="login-tab" class="loginregister-tab">LOGIN</li>
          <li id="register-tab" class="loginregister-tab">REGISTER</li>
        </ul></br>
        <!-- LOGIN FORM -->
        <form id="login-form">
          <span class="error hidden" id="login-error" type="errormsg"><em>Incorrect username + password combination.</em></span>
          <span class="padded-form-field half">
            <label for="username">Username</label><br />
            <input class="form-entry" id="login-box-user" name="username" type="input" />
          </span>
          <span class="padded-form-field half right">
            <label for="password">Password</label><br />
            <input class="form-entry" id="login-box-pass" name="password" type="password" />
          </span><br />
          <input class="form-submit" type="submit" value="Login" />
        </form>
        <!-- REGISTRATION FORM -->
        <form id="register-form">
          <span class="error hidden" id="register-error-username" type="errormsg"><em>Username already taken. Please choose another.</em></span>
          <span class="error hidden" id="register-error-match" type="errormsg"><em>Passwords don't match. Please re-enter both again.</em></span>
          <span class="error hidden" id="register-error-password" type="errormsg"><em>Passwords must be at least 10 characters long.</em></span>
          <span class="error hidden" id="register-error-field" type="errormsg"><em>A field has not been filled in.</em></span>
          <span class="padded-form-field half">
            <label for="username">Username</label><br />
            <input class="form-entry" name="username" type="text"/>
          </span>
          <span class="padded-form-field half right">
            <label for="role">What do you want to do?</label><br/>
            <select class="form-entry" id="roleselect" name="role">
              <option value="user">I need help</option>
              <option value="helper">I want to help</option>
              <option value="both">Both</option>
            </select>
          </span><br/>
          <span class="padded-form-field half">
            <label for="name">Fullname</label><br />
            <input class="form-entry" name="name" type="input" />
          </span>
          <span class="padded-form-field half right">
            <label for="given_name">Preferred Name (Optional)</label><br />
            <input class="form-entry" name="given_name" type="input" />
          </span><br/>
          <span class="padded-form-field half">
            <label for="password">Password</label>
            <input class="form-entry" name="password" type="password" />
          </span>
          <span class="padded-form-field half right">
            <label for="confirm_password">Confirm Password</label><br/>
            <input class="form-entry" name="confirm_password" type="password" />
          </span>
          <span id="bank-details" type="bank-details">Helper Payment Details</span>
          <span class="padded-form-field half" type="bank-details">
            <label for="account_number">Account Number</label><br/>
            <input class="form-entry" name="account_number" type="input" />
          </span>
          <span class="padded-form-field half right" type="bank-details">
            <label for="sort_code">Sort Code</label><br/>
            <input class="form-entry" name="sort_code" type="input" />
          </span>
          <input class="form-submit" type="submit" value="Register" />
        </form>
    </div>
    <header id="top_menu">
      <ul class="horizontal_menu" id="menu_list">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/find">FIND HELP</a></li>
        <li><a href="/give">GIVE HELP</a></li>
      </ul>
      <span class="settings">
        <span class="settings-wrapper">
          {{? it.auth }}
          Welcome {{=it.username}}! <br />
          <a href="/logout">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>
          {{??}}
          <a href="#" class="login_button">Login / Register</a>
          {{?}}
        </span>
      </span>
    </header>
