<!DOCTYPE html>
<html>
  <head>
    <title>Template Page</title>
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="//cdn.temasys.io/adapterjs/0.14.x/adapter.min.js"></script>
    <script src="assets/js/communication.js"></script>
    <script type="text/javascript">
    //navigator.geolocation
    //var battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;
    $(() => {
      $("#side_panel_right .info-panel-sub").on("click", e => {
        //Do stuff
      });

      $(".login_button").on("click", e => {
        $(".login").show();
        $("#login-tab").click();
      });

      $("#loginregister-form input[type='button']").on("click", e => {
        $(".login").hide();
        $("#loginregister-form span[type='errormsg']").addClass("error hidden");
        $("#login-box-user").val("");
        $("#login-box-pass").val("");
      });

      $("#login-tab").on("click", e => {
        $("#register-form").hide();
        //$("#login-form").show();
        $("#login-form").fadeIn(500, () => {});
        $("#register-tab").removeClass("active");
        $("#login-tab").addClass("active");
      });

      $("#register-tab").on("click", e => {
        $("#login-form").hide();
        //$("#register-form").show();
        $("#register-form").fadeIn(500, () => {});
        $("#login-tab").removeClass("active");
        $("#register-tab").addClass("active");
      });

      $("#login-form").submit(e => {
        $.ajax({
                 type: "POST",
                 url: "/login",
                 data: $("#login-form").serialize(), // serializes the form's elements.
                 success: data =>
                 {
                     if (data == "success") {
                       window.location.reload();
                     } else {
                       // The user entered an invalid Username or Password
                       $("#login-error").removeClass("error hidden");
                    }
                }
            });

          e.preventDefault();
      });

      $("#register-form").submit(e => {
        $.ajax({
                 type: "POST",
                 url: "/register",
                 data: $("#register-form").serialize(),
                 success: data =>
                 {
                    if (data == "success") {
                      window.location.reload();
                    } else if (data == "username fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-username").removeClass("error hidden");
                    } else if (data == "field fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-field").removeClass("error hidden");
                    } else if (data == "match fault") {
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-match").removeClass("error hidden");
                    }
                    else { // password fault
                      $("#register-form span[type=errormsg]").addClass("error hidden");
                      $("#register-error-password").removeClass("error hidden");
                    }
                }
            });
        e.preventDefault();
      });
    });
    </script>

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- THIS STYLE BLOCK SHOULD BE LATER MOVED EXTERNALLY -->
    <style type="text/css">
    /* NOTES:
      The CSS here uses some features that aren't compatible with all browsers. Due to the nature of
      our application it make sense for us to only target current Firefox and Chrome releases. Edge/IE11
      should still work, or at least partial support is provided. (flex boxes)
    */
      /*CSS RESET (because browsers can be inconsitent)*/
      html, body, div {
        margin:0;
        padding:0;
        border:0;
        font-size: 100%;
        font:inherit;
        vertical-align: baseline;
        line-height:1;
      }

      html, body {
        height:100%;
        overflow: hidden;
      }

      body {
        display: flex;
        flex-flow: column;
        font-family: "Proxima Nova","Helvetica Neue",Helvetica,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;`
      }
      /*MENU*/
      header {
        flex: 0 1 auto;
      }

      ul.horizontal_menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #222;
        line-height: 25px;
      }

      ul.horizontal_menu li {
        display: inline-block;
        height: 50px;
        cursor: pointer;
      }

      ul.horizontal_menu li:hover {
        border-bottom: 4px #00a2d9 solid;
      }

      ul.horizontal_menu li.active {
        border-bottom: 4px #00a2d9 solid;
      }

      ul.horizontal_menu li a {
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }

      #top_menu {
        width:100%;
        background-color: #222;
        /*height:50px;*/
        flex: 0 0 50px;
      }

      #top_menu ul#menu_list {
        min-width: 500px;
        height: 100%;
      }

      /*CONTENT*/
      #content_container, #top_menu {
        display: flex;
        flex-flow: row;
      }

      #content_container {
        flex: 1 1 auto;
      }

      #top_menu .settings, #side_panel_right {
        flex: 1 1 200px;
      }

      #menu_list, #render_video {
        flex: 1 1 70%;
      }

      /*FOOTER*/
      footer {
        display: none;
        flex: 0 1 auto;
        text-align: center;
        background: #444;
      }

      /*VIDEO AREA*/
      #render_video {
        background-color: #000;
      }

      /* CSS3 Animations */
      @keyframes pulse {
        0% {
          color: default;
        }
        100% {
          color: #00a2d9;
        }
      }

      @keyframes darken {
        0% {
          background-color: default;
        }
        100% {
          background-color: #222;
        }
      }

      /*SIDE PANEL*/
      #side_panel_right {
        background-color: #333;
        color: #adadad;
      }

      #side_panel_right .info-panel-sub p {
        padding-left: 12px;
        display: none;
      }

      #side_panel_right .info-panel-sub.active p {
        display: block;
        padding: 0;
        margin: 0;
      }

      #side_panel_right .info-panel-sub h2 {
        font-weight: 300;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 0;
        padding: 16px 0;
        border-bottom: 2px solid #222;
      }

      #side_panel_right .info-panel-sub.active h2 {
        color: #fff;
        border-right: 12px solid #00a2d9;
        background-color: #222;
      }

      #side_panel_right .info-panel-sub h2 i {
        padding: 0 10px;
        width: 30px;
        text-align: center;
      }

      #side_panel_right .info-panel-sub.active h2 i {
        color: #00a2d9;
      }

      #side_panel_right .info-panel-sub h2:hover i {
        padding: 0 10px;
        animation: 0.7s 1 forwards pulse;
      }

      #side_panel_right .info-panel-sub h2:hover {
        animation: 0.7s 1 forwards darken;
      }

      /* Panel Information */
      .info-section {
        font-size:13px;
        display: block;
        border-bottom: 2px solid #222;
        padding-bottom: 6px;
      }

      .info-title {
        float:left;
        line-height: 16px;
        padding: 1px 10px;
        margin-bottom: 6px;
        color: #222;
        font-weight: bold;
        background: #00a2d9;
        position: relative;
      }

      .info-title:after {
        content: "";
        border-top: 18px solid #00a2d9;
        border-right: 18px solid transparent;
        position: absolute;
        right:-18px;
        top:0px;
      }

      .info-section span:nth-of-type(2) {
        clear:left;
      }

      .info-name {
        text-align: right;
        width:50%;
        display: inline-block;
      }

      .info-name:after {
        content: ":";
      }

      .info-entry {
        width:50%;
        text-align: center;
      }

      .info-element {
        float:left;
        width: 50%;
      }

      .info-section:after {
        content: "";
          display: table;
          clear:both;
      }

      .settings .settings-wrapper {
        border:1px solid #00a2d9;
        margin:5px;
        display: block;
        height: 42px;
      }

      .hidden {
        visibility: hidden;
        display: none;
      }

      #loginregister-dark-fade {
        position:fixed;
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.5;
        z-index: 1;
      }

      #loginregister-form {
        z-index: 2;
        position: fixed;
        width:400px;
        color: #fff;
        padding: 20px;
        background: #222;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        border: 1px solid #00a2d9;
        border-radius: 10px;
      }

      #loginregister-form span:not([type="errormsg"]) {
        width:50%;
        float:left;
      }

      .login {
        display: none;
      }

      #loginregister-form [type="submit"]{
        margin-top:20px;
      }

      #loginregister-form [type="button"]{
        margin-top:20px;
        float:right;
      }

      .login_button {
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(0, 162, 217) none repeat scroll 0% 0%;
        line-height: 42px;
        text-decoration: none;
        text-align: center;
        text-decoration: none;
        color:#fff;
      }

      #feature {
        width:80%;
        height: 300px;
        min-width: 400px;
        display: flex;
        margin: 20px auto;
      }

      #subcontent {
        width:100%;
      }

      .user-option {
        text-align: center;
        flex: 1 1 auto;
        background: #222;
        color: #fff;
        border: 4px solid #00a2d9;
        border-radius: 10px;
        width:200px;
        text-decoration: none;
        margin: 0 20px;
        padding: 25px 0;
      }

      .user-option .fa {
        font-size:80px;
      }

      .loginregister-tab {
        width:49%;
        display: inline-block;
        color: #fff;
        text-align: center;
        text-decoration: none;
      }

      .padded-form-field {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      br { /*clearfix*/
        clear: both;
      }
    </style>
    <!--<script src="https://cdn.webrtc-experiment.com/getScreenId.js"> </script>-->
  </head>
  <body>
    <div id="loginregister-dark-fade" class="login"></div>
    <div id="loginregister-form" class="login">
        <ul class="horizontal_menu">
          <li id="login-tab" class="loginregister-tab">LOGIN</li>
          <li id="register-tab" class="loginregister-tab">REGISTER</li>
        </ul></br>
        <!-- LOGIN FORM -->
        <form id="login-form">
          <span class="error hidden" id="login-error" type="errormsg"><em>Incorrect username + password combination.</em></span>
          <span class="padded-form-field">
            <label for="username">Username</label><br />
            <input id="login-box-user" name="username" type="input" />
          </span>
          <span class="padded-form-field">
            <label for="password">Password</label><br />
            <input id="login-box-pass" name="password" type="password" />
          </span><br />
          <input type="submit" value="Login" />
          <input type="button" value="Cancel"/>
        </form>
        <!-- REGISTRATION FORM -->
        <!-- TODO: Bank details (AccNum, SortCode) && Email Address -->
        <form id="register-form">
          <span class="error hidden" id="register-error-username" type="errormsg"><em>Username already taken. Please choose another.</em></span>
          <span class="error hidden" id="register-error-match" type="errormsg"><em>Passwords don't match. Please re-enter both again.</em></span>
          <span class="error hidden" id="register-error-password" type="errormsg"><em>Passwords must be at least 10 characters long.</em></span>
          <span class="error hidden" id="register-error-field" type="errormsg"><em>A field has not been filled in.</em></span>
          <span class="padded-form-field">
            <label for="username">Username</label><br />
            <input name="username" type="text"/>
          </span>
          <span class="padded-form-field">
            <label for="role">What do you want to do?</label><br/>
            <select name="role">
              <option value="user">I need help</option>
              <option value="helper">I want to help</option>
              <option value="both">Both</option>
            </select>
          </span><br/>
          <span class="padded-form-field">
            <label for="name">Fullname</label><br />
            <input name="name" type="input" />
          </span>
          <span class="padded-form-field">
            <label for="given_name">Preferred Name (Optional)</label><br />
            <input name="given_name" type="input" />
          </span><br/>
          <span class="padded-form-field">
            <label for="password">Password</label>
            <input name="password" type="password" />
          </span>
          <span class="padded-form-field">
            <label for="confirm_password">Confirm Password</label><br/>
            <input name="confirm_password" type="password" />
          </span>
          <input type="submit" value="Register" />
          <input type="reset"/>
          <input type="button" value="Cancel"/>
        </form>
    </div>
    <header id="top_menu">
      <ul class="horizontal_menu" id="menu_list">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/find">FIND HELP</a></li>
        <li><a href="/give">GIVE HELP</a></li>
      </ul>
      <span class="settings">
        <span class="settings-wrapper">
          {{? it.auth }}
          Welcome {{=it.username}}! <br />
          <a href="/logout">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>
          {{??}}
          <a href="#" class="login_button">Login / Register</a>
          {{?}}
        </span>
      </span>
    </header>
