<div id="content_container">
	<div id="subcontent">
		<div class="feature">
			<img class="logo" src="assets/images/Mayday.png" />
		</div>

		<div class="feature">
			<h1>Hello there,<br /> Welcome to MayDay</h1>
		</div>
		<div class="feature">
			<hr>
		</div>
				<div class="feature">
			<h2 class="center">Need a hand? &bullet; Looking for work? <br /> <a href="#" class="register-expose">Sign Up for Free</a></h2>
		</div>
	</div>
</div>