<div id="content_container">
	<div id="subcontent">
		<div class="feature">
			<h1>Hello there,<br /> Welcome to MayDay</h1>
		</div>
		<div class="feature">
			<hr>
		</div>
		<div class="feature">
			<div class="feature-left">
				<h2>Need a hand?</h2>
			</div>
			<div class="feature-right">

			</div>
		</div>
		<div class="feature">
			<h2>Good at what you do? Looking for work? - Sign Up and Help Out</h2>
		</div>
	</div>
</div>