<div id="content_container">
	<div id="subcontent">
		<div id="feature">
			<a href="/find" class="user-option">
				<h2>Find Help</h2>
				<i class="fa fa-life-ring" aria-hidden="true"></i>
				<h2>Stay Productive</h2>
			</a>

			<a href="/give" class="user-option">
				<h2>Give Help</h2>
				<i class="fa fa-money" aria-hidden="true"></i>
				<h2>Get Paid</h2>
			</a>
		</div>
		<h1>Welcome to MayDay.</h1>
	</div>
</div>